<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Integration Consumer Power Grid (Spring Integration Learning Application)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="header">
    <div>
        <span class="h1">Consumer Power Grid Dashboard</span>
        <span class="h2">featuring Spring Integration!</span>
    </div>
</div>
<div class="grid_background">

    <div class="grid_shell">
        <div class="grid_row">
            <div class="grid_container col_1">
                <p class="grid_header">Initial state</p>
                <p class="grid_body" th:text="'Software Build: ' + (${status['instanceId']} != null ? ${status['instanceId']} : 'Not Available')"></p>
            </div>
            <div class="grid_container col_2">
                <p class="grid_header">Tech Support</p>
                <p class="grid_body" th:text="'Software Build: ' + (${status['softwareBuild']} != null ? ${status['softwareBuild']} : 'Not Available')"></p>
                <p class="grid_body" th:text="'DirectChannel: ' + (${status['techSupportDirectChannel']} != null ? ${status['techSupportDirectChannel']} : 'Not Available')"></p>
                <p class="grid_body" th:text="'PublishSubscribeChannel: ' + (${status['techSupportPublishSubscribeChannel']} != null ? ${status['techSupportPublishSubscribeChannel']} : 'Not Available')"></p>
                <p class="grid_body" th:text="'QueueChannel: ' + (${status['updateNotificationQueueChannel']} != null ? ${status['updateNotificationQueueChannel']} : 'Not Available')"></p>

            </div>
        </div>
<!--        <div class="grid_row">-->
<!--            <div class="grid_container col_1">-->
<!--                <p class="grid_header">Grid Status</p>-->
<!--            </div>-->
<!--            <div class="grid_container col_2">-->
<!--                <p class="grid_header">kinetECO News</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="grid_row">-->
<!--            <div class="grid_container col_1">-->
<!--                <p class="grid_header">Power Usage</p>-->
<!--            </div>-->
<!--            <div class="grid_container col_2">-->
<!--                <p class="grid_header">Tech Support</p>-->
<!--                <p class="grid_body" th:text="'Software Build: ' + ${status.softwareBuild}"></p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<script>
    setTimeout(function() {
            window.location = window.location;
        }, 3000
    );
</script>
</body>
</html>
